@import "tailwindcss";

@import "./assets/typography/fonts.css";
/* biome-ignore lint/suspicious/noUnknownAtRules: <typography recommendations> */
@plugin "./assets/typography/typography.js";

/* biome-ignore lint/suspicious/noUnknownAtRules: <tailwind requirement> */
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-background-primary: var(--color-background-primary);
}

.theme-button {
  background-color: var(--color-secondary);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
  -webkit-mask-size: 24px;
}

.button-hover-effect {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.5s all ease;
    box-sizing: border-box;
  }
  &:hover::before {
    border-radius: inherit;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    background: var(--color-blue-400);
    opacity: 1;
    z-index: -1;
  }
}

@supports selector(::selection) {
  ::selection {
    background-color: color-mix(in srgb, var(--color-primary) 40%, transparent);
    color: var(--color-secondary);
    text-shadow: none;
  }
}

@supports selector(::-moz-selection) {
  ::-moz-selection {
    background-color: color-mix(in srgb, var(--color-primary) 40%, transparent);
    color: var(--color-secondary);
    text-shadow: none;
  }
}

@supports (scrollbar-width: auto) {
  html {
    scrollbar-width: none;
  }
}

@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar {
    display: none;
  }
}

.light {
  .theme-button {
    -webkit-mask-image: url("@/assets/icons/sun-ico.svg?react");
  }
  color-scheme: light;
  --color-primary: #c4c4c4;
  --color-secondary: #303030;
  --color-background: #303030;
  --color-background-primary: #c4c4c4;
}

.dark {
  .theme-button {
    -webkit-mask-image: url("@/assets/icons/moon-ico.svg?react");
  }
  color-scheme: dark;
  --color-primary: #303030;
  --color-secondary: #c4c4c4;
  --color-background: #c4c4c4;
  --color-background-primary: #303030;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif, system-ui;
}
* {
  transition: color 0.3s ease, background-color 0.3s ease;
}

:root:not([data-dev-mode="true"]) {
  cursor: none;
}

@media (max-width: 768px) {
  :root {
    cursor: auto;
  }
}
