@import "tailwindcss";
@import "tw-animate-css";

@import "./assets/typography/fonts.css";
/* biome-ignore lint/suspicious/noUnknownAtRules: <typography recomendations> */
@plugin "./assets/typography/typography.js";

/* biome-ignore lint/suspicious/noUnknownAtRules: <tailwind requirement> */
@theme {
  --color-primary: #c4c4c4;
  --color-secondary: #303030;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto Flex", sans-serif, system-ui;
}
